.categories-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}
.category {
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(244, 244, 244, 0.5);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.category:hover {
    background-color: #dbd8d8;
    color: #361243;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.img-category{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.category span { font-size: 1.5rem}

