.navbarContainer{
    width: 1600px !important;
    margin: 0 auto;
}

#navbar-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav{
    margin: auto!important;
}

.navbar-brand{
height: 70px;
width: 70px;
}
.nav-link {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 10px !important;
    color: white !important;
    font-size: 20px !important;
}

.nav-link:hover{
    color: #8eb8e2 !important;
}

.nav-link img {
    height: 35px;
    width: 35px;
}

.userContainer{
    border-right: 0.5px solid white;
    padding-right: 8px;
    font-size: 20px;
}