.navbar-brand{
height: 95px;
width: 90px;
}
.nav-link {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 10px !important;
    color: white !important;
    font-size: 20px !important;
}

.nav-link:hover{
    color: #8eb8e2 !important;
}