.navbarContainer {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2rem;
}

#navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    height: 70px;
    width: 70px;
}

.navlinks {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 10px !important;
    color: var(--color-secondary) !important;
    font-size: 17px !important;
    border-right: 1px solid var(--color-secondary) !important;
    padding: 0px 15px !important;
    border-radius: 10px !important;
}

.nav-link:hover {
    color: #8eb8e2 !important;
}

.nav-link img {
    height: 30px;
    width: 30px;
}

.userContainer {
    border-right: 0.5px solid var(--color-secondary);
    padding-right: 8px;
    font-size: var(--font-size-md);
}

.userSection{
    display: flex;
    align-items: center;
}

.btn-logout {
    font-size: var(--font-size-md) !important;
}
