:root {
    --bp-phone: 37.5em;    /* 600px (600 / 16 = 37.5) */
    --bp-tablet: 56.25em;  /* 900px */
    --bp-laptop: 75em;     /* 1200px */
    --bp-desktop: 90em;    /* 1440px */
}


@media (max-width: 37.5em) {
    .img-bunner{
        height: 20rem !important;
        margin-top: 4rem;
    }

    .categories-search-container {
        width: 100% !important;
    }

    .games-grid {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)) !important;
        margin-top: 5rem !important;
    }

    .advance-filter-mobile{
        display: flex !important
    ;
        flex-direction: row !important;
        gap: 0.5rem !important;
        position: absolute !important;
        top: 15rem !important;
        right: 0rem !important;
        height: 35px !important;
        width: 53px !important;
        padding: 2rem 5rem !important;
        box-shadow: 6px 5px 57px -17px rgba(245, 245, 245, 1) !important;
    }
    .advance-filter{
        display: none !important;
    }

    .img-category-mobile{
        width: 20px !important;
        height: 20px !important;
    }

    .navbar-nav {
        flex: 1;
        margin-right: 0 !important;
    }
    .me-auto {
        margin-right: 0 !important;
    }

    .me-auto .navbar-nav{
        gap: 1rem;
        margin-bottom: 1.5rem !important;
    }

    .nav-link {
        width: 100% !important;
        border-right: none !important;
        border-bottom: 0.2px solid var(--color-secondary) !important;
        padding: 1rem 1.5rem !important;
        font-size: 2rem;
    }

    .navbar-collapse {
        position: absolute;
        display: none;
        top: 80px;
        right: -100%;
        width: 100%;
        background-color: var(--color-primary);
        transition: right 0.6s ease-in-out;
    }

    .navbar-collapse.show {
        right: 0;
        transition: right 0.3s ease-in-out;
        flex-direction: column;
    }

    .navbar-toggler {
        background-color: var(--color-secondary) !important;
        font-size: var(--font-size-md) !important;
        box-shadow: 6px 5px 57px -17px rgba(245, 245, 245, 1) !important;
        width: 5rem;
        height: 5rem;
    }

    .navbar-toggler-icon{
        width: 3rem !important;
        height: 3rem !important;
    }

    .filterSubcontainer{
        border-right: none !important;
        border-bottom: 0.2px solid var(--color-secondary) !important;
    }
    .loginContainer {
        width: 300px;
        padding: 1rem;
        font-size: 0.8rem;
    }

    .button-47{
        width: 100% !important;
        margin-top: 2rem !important;
    }

    .loginContainer {
        align-items: center !important;
    }

    .loginForm {
        position: relative !important;
        top: 0px !important;
        left: 0px !important;
        width: 100% !important;
    }

    .lottieAnimation {
        width: 300px !important;
        height: 300px !important;
    }


}


@media (max-width: 56.25em) {
}


@media (max-width: 75em) {
}


@media (min-width: 90em) {
}