.home-page{
    background:linear-gradient(180deg, rgb(54, 18, 67) 30%, rgb(19, 6, 25) 100%);
    padding-bottom: 3rem;
}

.categories-search-container{
    width: 1600px;
    margin: 0 auto;
    padding: 10px;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1rem;
    margin: 0 auto;
    max-width: 1600px;
    padding: 1rem;
}

.loading-indicator {
    text-align: center;
    padding: 2rem;
}